
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;   
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px,10%;
    z-index: 100;
    height: 55px;
    background-color: #116b74;
}
.logo img{
  height: 50px;
  width: 60px;
  padding-left: 20px;
  
}
.navbar{
  padding-right: 22px;
}
.home-sci a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  font-size: 20px;
  color: rgb(12, 255, 214);
  text-decoration: none;
  margin-left: 12px;
}
.home-sci a:hover{
  background-color: rgb(12, 255, 214);
  color: #0f3336;
  border-color: rgb(12, 255, 214);
  box-shadow: 0 0 10px rgb(12, 255, 214);
}
.navbar a{
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 60px;
  font-size: 20px;
  color: rgb(12, 255, 214);
  background: transparent;
  border-radius: 40px;
  padding: 8px 20px;
} 
.navbar a:hover{
  background-color:rgb(12, 255, 214);
  color: #0f3336;
  border-color: rgb(12, 255, 214);
  box-shadow: 0 0 10px rgb(12, 255, 214);
}
.navbar a:hover,
.navbar a,:active{
  color: white; 
}
.content{
  height: 100vh;
  background: linear-gradient(-90deg,#116b74 65%,white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}
.home-image{
  width: 500px;
  height: 500px;
  background: #137781;
  clip-path: inset(3% 13% 15% 10% round 0% 30%);
  border: #0f3336;
}
.home-image img{
  position: absolute;
  
}
.home-content{
  max-width: 600px;
  color:white;
  text-align: right;
  display: inline;
}
.home-content h1{
  font-size:55px;
  line-height: 1.2;
}
.home-content h3{
  font-size:35px;
  line-height: 1.2;
}
.home-sci{
  margin-top: 10px;
}
.home-content h2{
  font-size:45px;
  line-height: 1.2;
  color: transparent;
  -webkit-text-stroke: 0.5px white;
  background-image: linear-gradient(white,white);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -410px 0;
  animation: animate 6s linear infinite;
}
@keyframes animate{
  0%,95%,100%{
    background-position: -410px 0;
  }
  65%,85%{
    background-position: 0 0;
  }
}
.btn{
  padding: 12px 35px;
  background:rgb(12, 255, 214) ;
  border-radius: 40px;
  font-size: 17px;
  color: #0f3336;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 0 0 10px rgb(12, 255, 214);
}
@keyframes cursor
{
 50%{
  border-color: transparent;
 }
}
@keyframes typing
{
  from {width: 0}
}
.content p{
  font-size:20px ;
  margin-top: 10px;
}




  